* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: antiquewhite;
  --secondary-color: #eec75c;
  --secondary-color-dark: #d9b24b;
  --secondary-color-darker: #c9a03b;
  --text-color: #333;
  --radius: 10px;
}

body {
  font-family: 'Asap', sans-serif;
  color: var(--text-color);
  background-color: var(--primary-color);
  font-family: "Asap", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
