form {
  max-width: 1200px;
  margin: 2rem auto;
  background-color: rgb(var(--primary-color-light-rgb));
  padding: 2rem;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.form-group button {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  background-color: var(--secondary-color);
  color: white;
  cursor: pointer;
}

/* Path: client/src/styles/footer.css */
