.order-summary {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  max-width: 1200px;
  margin: 2rem auto;
}
.checkout-steps {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  .number {
    background-color: var(--secondary-color-light);
    border-radius: 50%;
    padding: 0.5rem .75rem;
    text-align: center;
    margin-right: 0.5rem;
    cursor: pointer;
  }
  .title {
    cursor: pointer;
  }
  .active {
    font-weight: bold;
    .number {
      background-color: var(--secondary-color);
    }
  }
  @media screen and (max-width: 600px) {
    flex-direction: column;
    gap: 0.5rem;
    .checkout-step {
      margin-top: 1rem;
    }
  }
}

.order {
  background-color: rgb(var(--primary-color-light-rgb));
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .items {
    li:first-child {
      padding-top: 0;
    }
    li {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      justify-content: space-between;
      padding: 1rem 0;
      border-bottom: 1px solid lightgray;
      img {
        width: 120px;
        height: auto;
        aspect-ratio: 1/1;
      }
      .description-and-price {
        display: flex;
        flex-direction: column;
        margin-right: auto;
        .price {
          margin-top: auto;
        }
      }
      .delete-and-quantity {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .trashcan {
          font-size: 1.25rem;
          cursor: pointer;
          margin-left: auto;
          &:hover {
            color: rgb(176, 73, 73);
          }
        }
        .item-actions {
          display: flex;
          flex-direction: row;
          gap: 0.5rem;
          align-items: baseline;
          button {
            border: none;
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
          }
        }
      }
    }
  }
  .subtotal,
  .shipping {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  .shipping {
    border-bottom: 1px solid lightgray;
    padding-bottom: 1rem;
  }
  .total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 1rem;
  }
}
.next {
  button {
    margin-top: 2rem;
    width: 100%;
    padding: 1rem;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    &:hover {
      background-color: var(--secondary-color-dark);
    }
    &:active {
      transform: scale(0.99);
    }
  }
}
@media screen and (max-width: 600px){
  .order{
    padding: 1rem;
  }
}