.topbanner {
  height: 0rem;
  background-color: rgb(154, 182, 152);
  transition: height 0.3s ease-in-out;
  overflow: hidden;
  ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1rem;
    li {
        color: #333;
        font-size: .8rem;
        
    }
  }
}
